@model HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomeLayout";
}

<div class="container pt-20 flex">
    <aside class="w-1/5">
        <partial name="Components/_HomeSideBar" model="@Model.Categories" />
    </aside>

    <section class="w-4/5">
        <div class="">
            <h2 class="mb-2 text-2xl">New Releases</h2>
            <div class="grid grid-cols-4 gap-y-4 gap-x-2">
                @foreach (var book in @Model.Books)
                {
                    @await Html.PartialAsync("Components/_Book", book)
                }
            </div>
        </div>
    </section>
</div>