@{
    ViewBag.Title = "Not Found";
    Layout = "_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center" style="height:70vh">
    <div class="border col-4 rounded p-4" style="min-height:300px">
        <p>
            <h1>404 Not Found!</h1>
            <h5 class="mt-2"> Go to <a asp-action="Index" asp-controller="Home">HomePage</a></h5>
            
        </p>
         
    </div>
</div>
