@{
    ViewBag.Title = "Server Error";
    Layout = "_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center" style="height:70vh">
    <div class="border col-4 rounded p-4" style="min-height:300px">
        <p>
            <h3>OOPs! An Error Occured while working on your request.
               The support team is notified and they are working on the fix
            </h3>
            <h5>Please Contact us on Elibrary@@mail.com</h5>
        </p>
    </div>
</div>