@{ 
    Layout = "_HomeLayout";
    ViewBag.Title = "Change Password";
}

<div class="container py-24">
    <div class="flex justify-center">
        <div class="w-2/4 bg-white p-6 shadow-md">
            <div class="py-4">
                <h2 class="text-center font-bold text-3xl antialiased tracking-wide">Change Password</h2>
            </div>
            <form action="">
                <div class="mb-4">
                    <label for="" class="label">Current Password</label>
                    <input type="text" class="input w-full" />
                </div>
                <div class="mb-4">
                    <label for="" class="label">New Password</label>
                    <input type="text" class="input w-full" />
                </div>
                <div class="mb-4">
                    <label for="" class="label">Confirm New Password</label>
                    <input type="text" class="input w-full" />
                </div>

                <div class="flex items-center justify-between">
                    <div>
                        <button type="submit" class="btn btn-primary">Reset Password </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

