
@model ForgotPasswordViewModel

@{
    Layout = "_HomeLayout";
    ViewBag.Title = "Forgot Password";
}

<div class="container padding-bottom-3x mb-2 mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="forgot">
                <h2 class="mb-6">Forgot your password?</h2>
                <p class="mb-9">Enter your Email below and our system will send you a temporary link. Use the link to reset your password</p>
        
            </div>
            <form method="post" class="card mt-4 mb-9">
                <div class="card-body">
                    <div class="form-group"> <label >Email</label> <input asp-for="Email" class="form-control" type="text" id="email-for-pass"><small class="form-text text-muted">Enter the email address you used during registration</small> </div>
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="card-footer"> <button class="btn btn-info mr-2" style="background-color:#2078BF;" type="submit">Send</button> <button class="btn btn-primary" type="submit">Back to Login</button> </div>
            </form>
        </div>
    </div>
</div>