@using Microsoft.AspNetCore.Http;

@{
    var token = Context.Session.GetString("Token");
    var role = Context.Session.GetString("Role");
    var name = Context.Session.GetString("Name");
}


<nav class="w-full py-5 bg-white shadow-md">
    <div class="container">
        <div class="flex justify-between">
            <div class="flex ">
                <partial name="Components/_Logo" />
            </div>
            <div>
                @if (token == null)
                {
                    <a class="inline-block px-4 hover:underline" asp-controller="Account" asp-action="Login">Login</a>
                    <a class="inline-block px-4 hover:underline" asp-controller="Account" asp-action="Register">Register</a>
                }
                @if (!string.IsNullOrEmpty(token) && !string.IsNullOrEmpty(name))
                {
                    <span class="inline-block px-4"> Hello @name</span>
                    <a asp-action="Logout" asp-controller="Account">Logout</a>
                }
                @if (role == "Admin")
                {

                    <a class="inline-block px-4 hover:underline" asp-controller="Book" asp-action="AdminBookView">Admin Dashboard</a>
                   
                }
            </div>
        </div>
    </div>
</nav>